body{
    background: #FBF9F4;
    }
    .main-wrapper{
        margin-left: 80px;
        margin-right: 80px;
    }
    .logo{
        width: 147.998px;
        height: 53.179px;
        flex-shrink: 0;
    }
    img {
      width: 100%;
      height: auto;
      flex-shrink: 0;
      }
      .box{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        margin-top: 90px;
      
      }
      .welcome h3{
        color: var(--black, #26363E);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Arial;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 153.846% */
        width: 530px auto;
        height: 80px auto;
      }
      .welcome p{
        color: var(--grayscale-black, #26363E);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Arial;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px; /* 150% */
        width: 530px auto;
        height: 133px;
      }
     
      .welcome h5{
        color: var(--03-on-primary-high-emphasis, #FFF);
    text-align: center;
    /* H5 Uppercase 14px */
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
    text-transform: uppercase;
      }
      .btn-frame .btn {
        display: flex;
        width: 228px auto;
        height: 56px;
        padding: 18px 36.103px 18px 35.897px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 4px;
        background: var(--primary-main, #B62B30);
        margin-top: 35px;
      }
      .work{
        margin-top: 50px;
      }
      .work h3{
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15px;
    text-transform: capitalize;
      }
    .work p{
      color: var(--black, #26363E);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    }
    .main-icon{
      width: 52px;
    height: 52px;
    flex-shrink: 0;
    }
    .mainhead{
      color: var(--grayscale-black, #26363E);
    font-variant-numeric: lining-nums proportional-nums;
    /* Headlines / H3 18px bold */
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    }
    .maindesc{
      color: var(--grayscale-black, #26363E);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    
    }
    .mgt{
      margin-top: 60px;
    }
    /* Footer */
ul{
  margin: 0;
  padding: 0;
}
footer{
  background: #FFF;
  min-height: 43px auto;

}
footer a {
  text-decoration: none;
  color: var(--primary-red, #D41E30);
  text-align: right;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer li{
  display: inline;
  float: left;
  padding: 0 15px 0 15px; 
}
footer #branding{
  float: left;
  margin-left: 20px;
  padding-top: 15px;
}
footer #branding p{
  color: var(--primary-red, #D41E30);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer foot {
  float: right;
  margin-top: 10px;
}
@media(max-width: 768px){
footer #branding,
footer foot,
footer foot li{
float:none;
text-align: center;
width: 100%;
}
}
